apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    deployment:
      kind: DaemonSet
    service:
      spec:
        externalTrafficPolicy: Local
    ports:
      web:
        exposedPort: 8080
      websecure:
        exposedPort: 8443
